.employment {
    padding: 38px 0;
}

.employment__row {
    margin-bottom: 20px;
}

.employment__card {
    padding: 20px 28px 19px 27px;
    display: flex;
    gap: 15px;
}

.card-body {
    padding: 0;
}

.employment__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.6px;
}

.employment__icon {
    width: 60px;
    height: 60px;
}

/* .card-text {
    white-space: pre-line;
} */


@media (max-width: 480px) {
    .employment {
        padding: 27px 0;
    }

    .employment__row {
        /* margin-bottom: 10px; */
        margin-bottom: 23px;
    }

    .employment__card {
        /* padding: 15px 10px; */
        gap: 10px;
    }

    .employment__card--1 {
        padding: 15px 10px 14px 10px;
    }

    .employment__card--2 {
        padding: 17px 10px;
    }

    .employment__card--3 {
        padding: 17px 10px;

    }

    .employment__card--4 {
        padding: 17px 15px;
    }

    .employment__card--5 {
        padding: 17px 10px;
    }

    .employment__card--6 {
        padding: 15px 10px 14px 10px;
    }
    
    .employment__text {
        font-size: 14px;
    }

    .employment__icon {
        width: 40px;
        height: 40px;
    }
}