.questions {
    padding: 60px 0;
}

.video-box {
    border-radius: 10px;
    margin-bottom: 60px;
}

/* .video-wrapper {
    position: relative;
}

.video-image {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    object-fit: cover;
} */

/* Accordion */

.accordion-item {
    border: none;
}

.accordion-header {
    background-color: #FAFAFA;
    margin-bottom: 20px;
}

.accordion-button::after {
    background-image: url('../img/accordion-button.svg');
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

.accordion-button  {
    padding: 15px 27.077px 15px 28px;
    font-size: 20px;
    color: #444;
}

.accordion-button:not(.collapsed) {
    color: #444;
    background-color: unset;
    box-shadow: unset;
    border: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: url('../img/accordion-button.svg');
}

.accordion-button:focus {
    background: none;
}

.registration__list {
    display: flex;
    gap: 1.125rem;
    flex-direction: column;
}

.registration__link {
    color: #562212;
    font-size: 	1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}

.registration__images {
    padding-left: 53px;
    width: unset;
}


@media (max-width: 480px) {
    .questions {
        padding: 40px 0;
    }

    .video-box {
        margin-bottom: 40px;
    }

    .accordion-button {
        padding: 10px;
        color: #444;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        gap: 10px;
    }

    .accordion-button::after {
        width: 30px;
        height: 30px;
    }

    .accordion-body {
        font-size: 12px;
        padding: 0;
    }
}