.registration {
    padding: 53px 0;
}

.registration__info {
    margin-bottom: 30px;
}

.registration__box {
    margin-bottom: 20px;
}

.registration__list {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.registration__item {
    display: flex;
    gap: 15px;
    align-items: center;
}

.registration__link {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}

.registration__images {
    padding: 24px 0;
    display: flex;
    gap: 83px;
    align-items: center;
    padding-left: 60px;
}

.registration__text {
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    white-space: pre-line;
}

.registration__forein {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.registration__subtitle {
    color: #562212;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
    margin-bottom: 20px;
}


@media (max-width: 480px) {
        .registration {
            padding: 23px 0;
        }

        .registration__info {
            margin-bottom: 20px;
        }

        .registration__box {
            margin-bottom: 20px;
        }

        .registration__list {
            margin-bottom: 40px;
        }

        .registration__item {
            align-items: flex-start;
        }

        .registration__images {
            padding-top: 10px;
            padding-bottom: 0;
            display: flex;
            gap: 13px;
            align-items: start;           
            justify-content: flex-end;
        }

        .registration__forein {
            font-size: 14px;
            line-height: 20px;
        }

        .registration__subtext {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            white-space: pre-line;
        }

        .registration__subtitle {
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px; /* 133.333% */
            margin-bottom: 20px;
        }

        .registration__text {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 125% */
        }

        .registration__link {
            font-size: 16px;
            line-height: 20px;
            white-space: break-spaces;
        }
}