/* html {
    position: relative;
    box-sizing: border-box;
    scroll-behavior:smooth;
    font-size: 	16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    /* margin: 0;
    padding: 0; */
}

body {
    min-width: 320px;
    min-height: 100vh;
    color: #562212;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    background-color: #FFF;;
}

img, svg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
    margin: 0;
}

/* .button {
    border-radius: 10px;
    border: 0;
    padding: 9px 29px 10px;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    transition: background 0.3s ease-in;
} */

.container {
    max-width: 1240px;
    padding: 0 30px;
    margin: 0 auto;
}

.text-main {
    color: #562212;
}

.text-accent {
    color: #ED5338;;
}


section {
    background-color: #C59368;
}

footer {
    background-color: #C59368;
}

.section__title {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 105.1%; /* 33.632px */
    letter-spacing: -0.64px;
    margin-bottom: 30px;
} */


/* Header */

/* .header__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.header {
    padding: 42px 0 43px 0;
}

.navbar-nav,
.mr-auto {
flex: 1;
margin: auto !important;
display: flex;
justify-content: space-between;
}

.navbar {
    padding-top: 0;
}

.navbar-toggler {
    background-color: #ED5338;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.header__link {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    color: #202124 !important;
}

.header__link--orange {
    color: #ED5338 !important;
}

@media (max-width: 480px) {
    .header {
        padding: 12px 0;
    }

    .header__logo--1 {
        width: 56px;
        height: 36px;
    }

    .header__logo--2 {
        width: 34px;
        height: 33px;
    }

    .header__logo--3 {
        width: 39px;
        height: 30px;
    }

    .navbar-toggler {
        padding: 0;
        /* width: 30px !important;
        height: 30px !important; */
    }
} */


/* Banner */

.banner {
    position: relative;
    z-index: 0;
    padding: 23px 0 40px 0;
    margin-bottom: 30px;
}

.banner__image {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    top: 0;
}

.banner__btn {
    padding: 13px 68px;
    border-radius: 4px;
    background: #ED5338;
    box-shadow: 0px 8px 24px -4px rgba(18, 20, 23, 0.08), 0px 6px 12px -6px rgba(18, 20, 23, 0.12);
    margin-bottom: 20px;
}

.banner__subtitle {
    color: #ED5338;
    font-style: normal;
    font-weight: 600;
    line-height: 21px; /* 131.25% */
    margin-bottom: 44px;
    white-space: pre-line;
}

.banner__title {
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 125% */
    white-space: pre-line;
    margin-bottom: 20px;
}

.banner__text {
    font-size: 1.3rem;
    margin-bottom: 25px;
}

.banner__item {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    margin-bottom: 30px;
}


@media (max-width: 480px) {
    .banner__btn {
        padding: 4px 25px 5px 27px;
        font-size: 0.75em;
        margin-bottom: 10px;
    }

    .banner__subtitle {
        margin-bottom: 15px;
    }

    .banner__title {
        font-size: 18px;
        line-height: 25px; /* 138.889% */
        margin-bottom: 10px;

    }
}
/* Emploiment */

/* .emploiment {
    padding: 38px 0;
}

.emploiment__row {
    margin-bottom: 20px;
}

.emploiment__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.6px;
} */




/* Success */

.success {
    padding: 60px 0;
}

.success__image {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 280px; /* Need a specific value to work */
    top: -19%;
    z-index: 100;
    border-radius: 300px;
    outline: 1px solid #CE9B6B;
    outline-offset: 10px;
}

.success__card {
    padding-top: 180px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.success__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; 
    margin-bottom: 10px;
}

.success__text:last-child {
    margin-bottom: 0;
}


/* carusel */
.carousel__container {
    position: relative;
}

.carousel {
    max-width: 1100px;
    margin: 0 auto;
}

.carousel-inner {
    padding-top: 150px;
    /* padding-top: 12%; */
    padding-bottom: 5%;
}

.carousel-control-prev-icon {
    background-image: url(img/arrow-left.svg);
}

.carousel-control-next-icon {
    background-image: url(img/arrow-right.svg);
}

.carousel-control-prev {
    position: absolute;
    left: 0;
    /* top: calc(50% - 32.5px); */
}

.carousel-control-next {
    position: absolute;
    right: 0;
    /* top: calc(50% - 32.5px); */
}

.carousel-control-next, .carousel-control-prev {
    /* z-index: 100; */
    width: 20px;
}


.carousel-indicators {
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
}


.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #F1F1F1;
}


/* Support */

.support {
    padding: 45px 0;
}

.support__list {
    /* padding: 14px 20px 15px; */
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    gap: 10px;
    margin-bottom: 30px;
}

.support__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px; /* 140% */
    white-space: pre-line;
}

.support__icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.support__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px; /* 140% */
}

.warning {
    border-radius: 10px;
    background: #562212;
    padding: 16px 20px;
}

.warning__text {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 156.25% */
}


/* .video-wrapper {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    width: 1180px;
height: 600px;
} */



/* Put img on top of video */

/* .video-wrapper {
    position: relative;
}

.video-image {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    object-fit: cover;
} */

/* Accordion */

.accordion-item {
    border: none;
}

.accordion-header {
    background-color: #FAFAFA;
    margin-bottom: 20px;
}

.accordion-button::after {
    background-image: url('img/accordion-button.svg');
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

.accordion-button  {
    font-size: 20px;
    color: #444;
}

.accordion-button:not(.collapsed) {
    color: #444;
    background-color: unset;
    box-shadow: unset;
    border: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: url('img/accordion-button.svg');
}

.accordion-button:focus {
    background: none;
}

.registration__list {
    display: flex;
    gap: 1.125rem;
    flex-direction: column;
}

.registration__link {
    color: #562212;
    font-size: 	1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}

.registration__images {
    padding-left: 53px;
    width: unset;
}

/* Form */

.form__container {
    padding: 37px 28px;
    background-image: url('img/form-bg-all.png');
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}


.form__content {
    /* max-width: 580px; */
    max-width: 50%;
    /* padding-left: 28px; */
}

.form-control {
    padding: 16px 25px;
    border-radius: 4px;
    border: 1px solid #FFF;
    background: #FFF;
    color: #6C757D;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input-wrapper {
    margin-bottom: 18px;
}

.input-wrapper--last {
    margin-bottom: 25px;
}

.form-btn {
    padding: 15px 40px;
    border-radius: 4px;
    background: #ED5338;
    box-shadow: 0px 8px 24px -4px rgba(18, 20, 23, 0.08), 0px 6px 12px -6px rgba(18, 20, 23, 0.12);
    color: #F6F4F5;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    margin-bottom: 15px;
}

.form-text {
    color: #202124;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px; 
}


@media (max-width: 768px) {
    .form__content {
        max-width: 90%;
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 auto;
    }

}
@media (max-width: 480px) {
    .form__container {
        background-image: url('img/form-bg-mobile.png');
        padding-top: 16px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 100%;
    }

    .form-control {
        padding: 12px 10px;
    }
}