.success {
    padding: 60px 0;
}

.success__item {
    padding-left: 0;
}

.success__image {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 280px; /* Need a specific value to work */
    top: -19%;
    z-index: 100;
    border-radius: 300px;
    outline: 1px solid #CE9B6B;
    outline-offset: 10px;
}

.card {
    border: 0;
}

.success__card {
    /* padding-top: 180px; */
    padding-top: 190px;
    padding-left: 23px;
    padding-right: 17px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success__text {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; 
    margin-bottom: 10px;
    white-space: pre-line;
}

.success__text:last-child {
    margin-bottom: 0;
}

.success__name {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color: #ED5338;
    margin-bottom: 15px;
}

.success__sub {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
    margin-bottom: 15px;
}


/* carusel */
.carousel__container {
    position: relative;
}

.carousel {
    max-width: 1100px;
    margin: 0 auto;
}

.carousel-inner {
    /* padding-top: 150px; */
    /* padding-top: 12%; */
    padding-top: 12%;
    padding-bottom: 5%;
}

.carousel-control-prev-icon {
    background-image: url(../img/arrow-left.svg);
}

.carousel-control-next-icon {
    background-image: url(../img/arrow-right.svg);
}

.carousel-control-prev {
    position: absolute;
    left: 0;
    /* top: calc(50% - 32.5px); */
}

.carousel-control-next {
    position: absolute;
    right: 0;
    /* top: calc(50% - 32.5px); */
}

.carousel-control-next, .carousel-control-prev {
    /* z-index: 100; */
    width: 20px;
}


.carousel-indicators {
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
}


.carousel-indicators li {
    border-radius: 15px;
    width: 15px;
    height: 15px;
    background-color: #F1F1F1;
}

.carousel-indicators .active {
    background-color: #ED5338;
}



@media (max-width: 480px) {
    .success__card {
        padding-top: 97px;
    }

    .success__name {
        color: #ED5338;
        margin-bottom: 10px;
    }
    
    .success__sub {
        text-align: center;
        font-size: 16px;
        line-height: 20px; /* 125% */
        margin-bottom: 10px;
    }

    .success__image {
        width: 180.133px;
        height: 180.133px;
        border-radius: 180px;
        outline-offset: 6px;
        /* width: 193px;
        height: 193px; */
    }

    .success__text {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px; /* 150% */
    }

    .carousel-inner {
        padding-top: 41%;
        padding-bottom: 20%;
    }

    .carousel-control-next, .carousel-control-prev {
        /* z-index: 100;
        width: 20px; */
        display: none;
    }

}